
<f:layout name="DefaultFieldWizard" />

<f:section name="Content">
    <button
        href="#"
        class="btn btn-default btn-pagemachine-ai-tools t3js-alternative-generator-trigger"
        data-file-identifier="{target}"
        data-text-prompt="{prompt}"
        data-output-target="{input-field-selector}"
    >
        <core:icon identifier="actions-cpu" size="small" />
        Generate
        <span class="label label-default">
            2 Credits
        </span>
    </button>

    <button
        href="#"
        class="btn btn-default btn-pagemachine-ai-tools t3js-alternative-generator-settings-trigger"
        data-title="{title}"
        data-target="{target}"
        data-base="{f:be.uri(route: 'ajax_aitools_ai_tools_images')}"
    >
        <core:icon identifier="actions-cog-alt" size="small" />
    </button>

</f:section>
