<f:layout name="Default" />

<f:section name="main">


    <h1>Generate Images using OpenAI</h1>


    <ul class="nav nav-tabs" id="tablist-aiimage" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="generate-tab" data-bs-toggle="tab" data-bs-target="#homeTab" type="button" role="tab" aria-controls="generate" aria-selected="true">Generate</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="variate-tab" data-bs-toggle="tab" data-bs-target="#variateTab" type="button" role="tab" aria-controls="variate" aria-selected="false">Variate</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="describe-tab" data-bs-toggle="tab" data-bs-target="#describeTab" type="button" role="tab" aria-controls="describe" aria-selected="false">Describe</button>
        </li>
    </ul>
    <div class="tab-content" id="tabcontent-aiimage">
        <div class="tab-pane fade show active" id="homeTab" role="tabpanel" aria-labelledby="generate-tab">
            <f:form enctype="multipart/form-data" id="generate_form" action="generate" object="{aiimage}" name="aiimage" class="form-section">
                <div class="form-group">
                    <label for="description">Description of the desired image(s). The maximum length is 1000 characters:</label>
                    <f:form.textfield property="description" id="description" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="imagesnumber">Image(s):</label>
                    <f:form.select property="imagesnumber" id="imagesnumber" name="imagesnumber" options="{1: '1', 2: '2', 3: '3', 4: '4', 5: '5'}" value="1" />
                </div>
                <div class="form-group">
                    <label for="resolution">Resolution (px):</label>
                    <f:form.select property="resolution" id="resolution" name="resolution" options="{256x256: '256x256', 512x512: '512x512', 1024x1024: '1024x1024'}" value="256x256" />
                </div>
                <f:form.submit value="Generate" />
            </f:form>
        </div>
        <div class="tab-pane fade" id="variateTab" role="tabpanel" aria-labelledby="variate-tab">
            <f:form enctype="multipart/form-data" id="variate_form" action="variate" object="{aiimage}" name="aiimage" class="form-section">
                <div class="form-group">
                    <label for="file">Image to use as the basis for the variation(s). Must be a valid PNG file, less than 4MB, and square (ratio 1:1):</label>
                    <f:form.upload property="file" id="file" name="file" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="imagesnumber">Image(s):</label>
                    <f:form.select property="imagesnumber" id="imagesnumber" name="imagesnumber" options="{1: '1', 2: '2', 3: '3', 4: '4', 5: '5'}" value="1" />
                </div>
                <div class="form-group">
                    <label for="resolution">Resolution (px):</label>
                    <f:form.select property="resolution" id="resolution" name="resolution" options="{256x256: '256x256', 512x512: '512x512', 1024x1024: '1024x1024'}" value="256x256" />
                </div>
                <f:form.submit value="Generate" />
            </f:form>
        </div>
        <div class="tab-pane fade" id="describeTab" role="tabpanel" aria-labelledby="describe-tab">
            <f:form enctype="multipart/form-data" id="describe_form" controller="Backend\ImageRecognize" action="describe" object="{aiimage}" name="aiimage" class="form-section">
                <div class="form-group">
                    <label for="file_describe">Generate Image description</label>
                    <f:form.upload property="file" id="file_describe" name="file" class="form-control" />
                </div>
                <f:form.submit value="Generate" />
            </f:form>
        </div>
    </div>


</f:section>
