<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:be.pageRenderer
        pageTitle="AI Tools"
        includeRequireJsModules="{0: 'TYPO3/CMS/Backend/Modal', 1: 'TYPO3/CMS/Backend/Severity'}"
        includeJsFiles="{0: 'EXT:ai_tools/Resources/Public/JavaScript/AjaxMetaGenerate.js'}"
    />

    <div id="aiimage-backend">
        <f:flashMessages queueIdentifier="aitoolsBackend" />
        <f:render section="Content"/>
    </div>

</html>
