<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" data-namespace-typo3-fluid="true">

<be:moduleLayout>

    <f:be.pageRenderer
        pageTitle="AI tools"
    />

    <div class="container-fluid" id="aiimage-backend">

        <div class="row">
            <div class="col-xs-12">
                <f:flashMessages />
                <f:render section="main"/>
            </div>
        </div>
    </div>

</be:moduleLayout>

</html>
