<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rd="http://typo3.org/ns/TYPO3/CMS/Redirects/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Content">
    <f:if condition="{servers}">
        <f:then>
            <h1>
                <f:translate key="LLL:EXT:ai_tools/Resources/Private/Language/locallang_db.xlf:tx_aitools_domain_model_server" />
            </h1>
            <f:render section="table" arguments="{_all}" />

            <h1>
                <f:translate key="LLL:EXT:ai_tools/Resources/Private/Language/BackendModules/locallang_be_settings.xlf:tx_aitools_settings.translationSettings" />
            </h1>
            <f:if condition="{translationProviderError}">
                <f:then>
                    <div class="alert alert-danger">
                        <core:icon identifier="actions-exclamation-triangle-alt" />
                        {translationProviderError}
                    </div>
                </f:then>
                <f:else>
                    <f:render section="translationProvider" arguments="{_all}" />
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:render section="initialization" arguments="{_all}" />
        </f:else>
    </f:if>

</f:section>

<f:section name="table">
    <div class="panel panel-default">
        <table class="table table-striped table-hover" style="margin: 0;">
            <thead>
                <tr>
                    <th>
                        <f:translate key="LLL:EXT:ai_tools/Resources/Private/Language/locallang_db.xlf:tx_aitools_domain_model_server.type" />
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:ai_tools/Resources/Private/Language/locallang_db.xlf:tx_aitools_domain_model_server.title" />
                    </th>
                    <th>
                        Remaining credits
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <f:for each="{servers}" key="domainName" as="server">
                    <tr>
                        <td style="white-space: nowrap;">
                            <f:if condition="{server.default}">
                                🏠
                            </f:if>
                            {server.server -> f:format.crop(maxCharacters:50)}
                        </td>
                        <td class="col-title">
                            <core:iconForRecord table="tx_aitools_domain_model_server" row="{0: server.uid}" />
                            <be:link.editRecord returnUrl="{returnUrl}" table="tx_aitools_domain_model_server"
                                uid="{server.uid}"
                                title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_mod_web_list.xlf:edit')}">
                                {server.title -> f:format.crop(maxCharacters:50)}
                            </be:link.editRecord>
                        </td>

                        <td>
                            {server.credits}
                        </td>

                        <td>
                            <div class="btn-group">
                                <be:link.editRecord returnUrl="{returnUrl}" class="btn btn-default"
                                    table="tx_aitools_domain_model_server" uid="{server.uid}"
                                    title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_mod_web_list.xlf:edit')}">
                                    <core:icon identifier="actions-open" />
                                </be:link.editRecord>
                                <f:if condition="{server.hidden} == 1">
                                    <f:then>
                                        <a class="btn btn-default"
                                            href="{be:moduleLink(route:'tce_db', query:'data[tx_aitools_domain_model_server][{server.uid}][hidden]=0', arguments:'{redirect: returnUrl}')}"
                                            title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_mod_web_list.xlf:unHide')}">
                                            <core:icon identifier="actions-edit-unhide" />
                                        </a>
                                    </f:then>
                                    <f:else>
                                        <a class="btn btn-default"
                                            href="{be:moduleLink(route:'tce_db', query:'data[tx_aitools_domain_model_server][{server.uid}][hidden]=1', arguments:'{redirect: returnUrl}')}"
                                            title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_mod_web_list.xlf:hide')}">
                                            <core:icon identifier="actions-edit-hide" />
                                        </a>
                                    </f:else>
                                </f:if>
                                <a class="btn btn-default t3js-modal-trigger"
                                    href="{be:moduleLink(route:'tce_db', query:'cmd[tx_aitools_domain_model_server][{server.uid}][delete]=1', arguments:'{redirect: returnUrl}')}"
                                    title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_mod_web_list.xlf:delete')}"
                                    data-severity="warning"
                                    data-title="{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_alt_doc.xlf:label.confirm.delete_record.title')}"
                                    data-bs-content="{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_alt_doc.xlf:deleteWarning')}"
                                    data-button-close-text="{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_alt_doc.xlf:buttons.confirm.delete_record.no')}">
                                    <core:icon identifier="actions-delete" />
                                </a>
                                <f:if condition="{server.default} == 0">
                                    <a class="btn btn-default btn-disabled"
                                        href="{be:moduleLink(route:'tce_db', query:'data[tx_aitools_domain_model_server][{server.uid}][default]=1', arguments:'{redirect: returnUrl}')}">
                                        set as Default
                                    </a>
                                </f:if>
                            </div>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </table>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-8">
                    <be:link.newRecord table="tx_aitools_domain_model_server" returnUrl="{returnUrl}"
                        defaultValues="{ 'tx_aitools_domain_model_server': { 'type': 'aigude' } }" class="btn btn-primary"
                        style="background-color: #e966d4; border-color: #e960d3;">
                        <core:icon identifier="actions-document-new" /> Create new Server
                    </be:link.newRecord>
                </div>
            </div>
        </div>
    </div>
</f:section>


<f:section name="initialization">

    <h1>Getting Started</h1>

    <p>
        To setup AI tools, first get your API key and then use it to connect the extension to AiGude
    </p>

    <div class="card-container">
        <div class="card card-size-fixed-small" style="border-color: #e960d3; border-width: 3px;">

            <div class="card-header">
                <div class="card-icon">
                    <core:icon identifier="tx-aitools-module" size="large" />

                </div>

                <div class="card-header-body">
                    <h2 class="card-title">Get your free API key</h2>
                    <span class="card-subtitle">100 Credits free</span>
                </div>
            </div>


            <div class="card-body">
                <p class="card-text">
                    Unlock advanced AI features by connecting your AiGude account. Get your free API key in seconds to start
                    using all the extensions capabilities.
                </p>
            </div>
            <div class="card-footer">
                <a target="_blank" href="https://aigude.io/" class="btn btn-primary"
                    style="background-color: #e966d4; border-color: #e960d3;">
                    <core:icon identifier="actions-link" />
                    Get API Key from Aigude
                </a>
            </div>
        </div>

        <div class="card card-size-fixed-small">

            <div class="card-header">
                <div class="card-icon">
                    <core:icon identifier="install-test-environment" size="large" />
                </div>

                <div class="card-header-body">
                    <h2 class="card-title">API connection</h2>
                    <span class="card-subtitle">API key required</span>
                </div>
            </div>


            <div class="card-body">
                <p class="card-text">
                    To use AI Tools, you need to configure a connection first. Use your API key to connect to AiGude.
                </p>
            </div>
            <div class="card-footer">
                <be:link.newRecord table="tx_aitools_domain_model_server" returnUrl="{returnUrl}"
                    defaultValues="{ 'tx_aitools_domain_model_server': { 'type': 'aigude', 'title': 'AiGude' } }" class="btn btn-primary"
                    style="background-color2: #e966d4; border-color2: #e960d3;">
                    <core:icon identifier="actions-document-new" /> Connect to AiGude
                </be:link.newRecord>
            </div>
        </div>


    </div>


</f:section>

<f:section name="translationProvider">
    <f:form action="saveSettings" method="post">
        <div class="card">
            <div class="card-body">

                <div class="mb-3 form-check">
                    <f:form.checkbox class="form-check-input" id="gdprCompliant" name="gdprCompliant" value="1"
                        checked="{gdprCompliant}" onChange="this.form.submit()" />
                    <label class="form-check-label" for="gdprCompliant">
                        <f:translate
                            key="LLL:EXT:ai_tools/Resources/Private/Language/BackendModules/locallang_be_settings.xlf:tx_aitools_settings.gdprCompliant" />
                    </label>
                </div>

                <f:for each="{translationProviderPerLanguage}" as="providerLanguage">
                    <div class="mb-3">
                        <label for="provider_{providerLanguage.siteLanguage.languageId}"
                            class="form-label">{providerLanguage.siteLanguage.title}</label>
                        <f:if condition="{providerLanguage.providers}">
                            <f:then>
                                <f:form.select class="form-select"
                                    name="providers[{providerLanguage.siteLanguage.languageId}]"
                                    id="provider_{providerLanguage.siteLanguage.languageId}"
                                    value="{providerLanguage.active}">
                                    <f:for each="{providerLanguage.providers}" as="provider" iteration="i">
                                        <f:form.select.option value="{provider.provider}">
                                            <f:translate
                                                key="LLL:EXT:ai_tools/Resources/Private/Language/BackendModules/locallang_be_settings.xlf:tx_aitools_settings.provider.{provider.provider}">
                                                {provider.provider}
                                            </f:translate>
                                            ({provider.languageCode})
                                        </f:form.select.option>
                                    </f:for>
                                </f:form.select>
                            </f:then>
                            <f:else>
                                <span class="text-danger form-control">
                                    <core:icon identifier="actions-exclamation-triangle-alt" />
                                    <f:translate
                                        key="LLL:EXT:ai_tools/Resources/Private/Language/BackendModules/locallang_be_settings.xlf:tx_aitools_settings.noServiceAvailable" />
                                </span>
                            </f:else>
                        </f:if>
                    </div>
                </f:for>
            </div>
            <div class="card-footer">
                <f:form.submit
                    value="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:save')}"
                    class="btn btn-primary" style="background-color: #e966d4; border-color: #e960d3;" />
            </div>
        </div>
    </f:form>
</f:section>

</html>
